doctype html
html
  head
    title="discord-message-viewer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://twemoji.maxcdn.com/v/13.1.0/twemoji.min.js", integrity="sha384-gPMUf7aEYa6qc3MgqTrigJqf4gzeO6v11iPCKv+AP2S4iWRWCoWyiR+Z7rWHM/hU", crossorigin="anonymous")
  body(style="background-color: #202225; color: #dedede;")
    block content
    script(src="/javascripts/app.js")
